<style>
body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 50px;
      padding: 20px;
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 8px;
	  }
h2{
	color: #333;
}

p{
	font-size: 1.2em;
}

a{
	text-decoration: none;
	color: #007BFF;
	font-weight: bold;
}

a:hover{
	text-decoration: underline;
}

.error{
	color: red;
	font-weight: bold;
}
</style>