body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}
header {
    background: #4d0404;
    color: white;
    padding: 10px 20px;
    text-align: center;
}
main {
    padding: 20px;
    text-align: center;
}
a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
h1 {
    margin: 0;
    font-size: 2.5rem;
}
p {
    font-size: 1.1rem;
    margin: 20px 0;
}
h2 {
    font-size: 1.8rem;
    margin-top: 40px;
    color: #333;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 10px 0;
}
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Add some space between the buttons */
}
.-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.-button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
    }
}