/* Reset some default styling */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
}

body{
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
	background-color: #f4f4f4;
}
header {
    background: #4d0404;
    color: white;
    padding: 20px 20px;
    text-align: center;
    font-size: x-large;
}

h1 {
    color: #2d3e50;
    text-align: center;
    margin-bottom: 20px;
}

/* Navigation bar */
.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.navbar .button {
    margin-left: 10px;
}

/* Container for content */
.container {
    max-width: 1200px;
    margin: 5% auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Section headers */
h2 {
    color: #333;
    margin-bottom: 15px;
    font-size: 1.5em;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}
  
.button:hover {
    background-color: #0056b3;
}

/* Lists for products and orders */
ul {
    list-style-type: none;
    margin-bottom: 30px;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-info a {
    color: #dc3545;
    font-weight: bold;
    text-decoration: none;
}

.product-info a:hover {
    text-decoration: underline;
}

/* Order details */
.order-info {
    display: flex;
    justify-content: space-between;
}

.order-status {
    font-weight: bold;
    color: #00A36C;
}

.order-status.pending {
    color: #ffc107;
}

.order-status.shipped {
    color: #17a2b8;
}

.order-status.Returned {
    color: #dc3545;
}

/* Small screen (Mobile) adjustments */
@media screen and (max-width: 768px) {
    body {
        padding: 20px;
    }

    .container {
        padding: 20px;
    }

    h2 {
        font-size: 1.2em;
        justify-content: center;
    }

    .create-product-link {
        font-size: 1em;
    }

    .product-info,
    .order-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .product-info a,
    .order-info {
        margin-top: 10px;
    }
}