body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
header {
    background: #007BFF;
    color: white;
    padding: 10px 20px;
    text-align: center;
}
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: auto;
}
li {
    background: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.empty-cart {
    text-align: center;
    color: #888;
}
.container {
    display: flex;
    align-items: flex-start;
}
.cart-info {
    flex: 1;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 1em;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: #0056b3;
}
.button:visited {
    color: white;
}
a {
    display: block;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
a:hover {
    background-color: #0056b3;
}
a:visited {
    color: white;
}
footer {
    text-align: center;
    margin-top: 20px;
}