<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/admin_dashboard.css' %}">
    <title>Admin Dashboard</title>
</head>
<body>
    <header>
        <h1 class="header-title">Welcome to eMarket</h1>
    </header>
    <h1 class="dashboard-title">Admin Dashboard</h1>
    <nav class="navbar">
        <form method="POST" action="{% url 'logout' %}" class="logout-form">
            {% csrf_token %}
            <button type="submit" class="button">Logout</button>
        </form>
        <a href="{% url 'user_list' %}" class="button">View Pending Users</a>
        <a href="{% url 'admin_product_list' %}" class="button">View Pending Products</a>
    </nav>
    <div class="dashboard">
        <h2 class="orders-title">All Orders</h2>
        <ul class="order-list">
            {% for order in orders %}
                Order #{{ order.user_order_id }} <br> 
                {{ order.user }} bought:
                    {% for product_id, product_details in order.cart_products.items %}
                    <li>
                        {{ product_details.quantity }} {{ product_details.name }} from {{ order.user }} <br> 
                    </li> 
                    {% endfor %}
                Status: {{order.status}} <br><br>
            {% endfor %}
        </ul>
    </div>
</body>
</html>