<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/checkout.css' %}">
    <title>Checkout</title>
</head>
<body>
  <header>
    <div class="project-name">eMarket</div>
  </header>
    <h1>Checkout</h1>
    
    <p><strong>Disclaimer:</strong> This information is not being used, recorded or stored. Please do not enter your real credit card information</p>
    
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
        <p> Total: ${{ total }} </p>
        <button type="submit">Pay</button>
        <div class="button-container">
          <a href="{% url 'product_list' %}" class="button">Continue shopping</a>
        </div>
    </form>
</body>
</html>