<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
</head>
<body>
    <h2>Checkout</h2>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
        <p> Total: {{ cart.total }} </p>
        <form action = "{% url 'cart_checkout' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Pay</button>
      </form>
    </form>
  
    <p>
      <a href="{% url 'product_list' %}">Or continue shopping</a>
    </p>
</body>
</html>