<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eMarket Homepage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/home.css' %}">
</head>
<body>
  <header>
    <div class="project-name">eMarket</div>
  </header>
  
    <main>
        <a href="{% url 'login' %}" class="-button">Login</a>
        <p>An ECommerce website created by four students at Mississippi State University.</p>
        <a href="https://github.com/Newt-Tea/eMarket-MSU-Intro-to-SE_Group1" target="_blank">Visit our GitHub Repository</a>
        <h2>Meet the Team</h2>
        <ul>
            <li><a href="https://github.com/Newt-Tea" target="_blank"class="-button">Hudson Hargrove</a></li>
            <li><a href="https://github.com/aambrose1" target="_blank"class="-button">Andrea Ambrose</a></li>
            <li><a href="https://github.com/LostSpaghetti" target="_blank"class="-button">Matthew Crosno</a></li>
            <li><a href="https://github.com/ji256" target="_blank"class="-button">Jeremiah Ickom</a></li>
        </ul>
    </main>
    <footer>
        <p>&copy; 2023 eMarket. All rights reserved.</p>
    </footer>
</body>
</html>