<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'app/logout.css' %}">
  <title>Logout</title>
</head>
<body>
  <header>
    <div class="project-name">eMarket</div>
  </header>
  <div class="body_contents">
    <div class="banner">
      <h1>Logout</h1>
    </div>
    <p>You are now logged out!</p>
    <footer>
      <a href="{% url 'home' %}" class="button">Home Page</a>
    </footer>
  </div>
</body>
</html>
