<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Detail</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/order_detail.css' %}">
</head>
<body>
    <header>
        <div class="project-name">eMarket</div>
    </header>
    <h1>Order Detail</h1>
    <div class="order-detail">
        <h2>Order ID: {{ order.user_order_id }}</h2>
        <p><strong>Date:</strong> {{ order.date_created }}</p>
        <p class="order-status {{ order.status }}">Status: {{ order.status }}</p>
        <h3>Items</h3>
        <ul>
            {% for product_id, product_details in order.cart_products.items %}
                <li>
                    <a href="{% url 'product_detail' product_id %} " class="button">
                        {{ product_details.name }} - Quantity: {{ product_details.quantity }} - Price: ${{ product_details.price }}
                    </a> 
                </li>
            {% empty %}
                <li>No items found in this order.</li>
            {% endfor %}
        </ul>
        <p><strong>Total Price:</strong> ${{ order.total }}</p>
    </div>
    {% if request.user.user_type == 'seller' %}
        <a href="{% url 'seller_dashboard' %}" class="button">Back to Seller Dashboard</a>
    {% else %}
        <a href="{% url 'order_history' %}" class="button">Back to Order History</a>
    {% endif %}
</body>
</html>