<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Detail</title>
    {% comment %} <link rel="stylesheet" href="{% static 'app/styles.css' %}"> {% endcomment %}
</head>
<body>
    <header>
        <div class="project-name">eMarket</div>
      </header>
    <h1>Order Detail</h1>
    <div class="order-detail">
        <h2>Order ID: {{ order.id }}</h2>
        <p><strong>Date:</strong> {{ order.date }}</p>
        <p><strong>Status:</strong> {{ order.status }}</p>
        <h3>Items:</h3>
        <ul>
            {% for item in order.items %}
                <li>{{ item.product_name }} - Quantity: {{ item.quantity }} - Price: ${{ item.price }}</li>
            {% endfor %}
        </ul>
        <p><strong>Total Price:</strong> ${{ order.total_price }}</p>
    </div>
    <a href="{% url 'order_history' %}">Back to Order History</a>
</body>
</html>