<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
    <link rel="stylesheet" href="{% static 'app/product_details.css' %}">
    <title>{{ product.name }} - Product Detail</title>
</head>
<body>
    <header>
        <div class="project-name">eMarket</div>
        <h1>{{ product.name }}</h1>
    </header>
    <main>
        <div class="product-detail">
            <div class="product-info">
                <h2>{{ product.name }}</h2>
                <img src="{{ product.image.url }}">
                <p>{{ product.description }}</p>
                <p>Price: ${{ product.price }}</p>
                <p>In Stock: {{ product.stock }}</p>
                <p>Seller: {{ product.seller.username }}</p>
               
                <form action="{% url 'add_to_cart' product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <a href="{% url 'product_list' %}">Back to Product List</a>
    </footer>
</body>
</html>