<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'app/product_list.css' %}">
  <title>Product List</title>
</head>
<body>
  <header>
    <div class="project-name">eMarket</div>
    <nav>
      <ul>
        <li><a href="{% url 'shopping_cart' %}">Shopping Cart</a></li>
        <li><a href="{% url 'order_history' %}">View Order History</a></li>
        <li>
          <form id="logout-form" method="POST" action="{% url 'logout' %}" style="display: none;">
            {% csrf_token %}
          </form>
          <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">Logout</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Product List</h1>
    <form method="GET" action="{% url 'product_list' %}" enctype=”multipart/form-data”>      {{ form.search_query }}
      {{ form.sort }}
      <button type="submit">Search & Sort</button>
    </form>
    <ul>
      {% for product in products %}
        <li>
          <div class="product-container">
            <img src="{{ product.image.url }}" class="product-image">
            <div class="product-info">
              <h2>{{ product.name }}</h2>
              <p>{{ product.description }}</p>
              <p>Price: ${{ product.price }}</p>
              <p>In Stock: {{ product.stock }}</p>
              <a href="{% url 'add_to_cart' product.id %}" class="button">Add to Cart</a></br>
              <a href="{% url 'product_detail' product.id %}" class="button view-details">View Details</a>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </main>
</body>
</html>
