<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'app/product_list.css' %}">
  <title>Product List</title>
</head>
</html>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'shopping_cart' %}">Shopping Cart</a></li>
        <li><a href="{% url 'order_history' %}">View Order History</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Product List</h1>
    <form method="GET" action="{% url 'product_list' %}">
      {{ form.search_query }}
      {{ form.sort }}
      <button type="submit">Search & Sort</button>
    </form>
    <ul>
      {% for product in products %}
        <li>
          <h2>{{ product.name }}</h2>
          <p>{{ product.description }}</p>
          <p>Price: ${{ product.price }}</p>
          <a href="{% url 'add_to_cart' product.id %}">Add to Cart</a></br>
          <a href="{% url 'product_detail' product.id %}">View Details</a>
        </li>
      {% endfor %}
    </ul>
  </main>
</body>
