<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/seller_dashboard.css' %}">
    <title>Seller Dashboard</title>
</head>
<body>
    <header>
        <h1>Welcome to eMarket</h1>
    </header>
    <h1>Seller Dashboard</h1>
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <a href="{% url 'create_product' %}">Create Product</a>
    <h2>Your Products</h2>
    <ul>
        {% for product in products %}
            <li>
                {{ product.name }} - In Stock: {{ product.stock }}
                <form method="POST" action="{% url 'update_stock' product.id %}">
                    {% csrf_token %}
                    <label for="stock">Stock:</label>
                    <input type="number" name="stock" value="{{ product.stock }}" min="0">
                    <button type="submit">Update Stock</button>
                </form>
                <a href="{% url 'remove_product' product.id %}">Remove</a>
            </li>
        {% endfor %}
    </ul>
    <h2>Your Orders</h2>
    <ul>
        {% for order in orders %}
            <li>
                <a href="{% url 'order_detail' order.id %}" class="button"> Order #{{ order.user_order_id }}</a>
                    - Total: ${{ order.total }} - Status:{{order.status}} - Bought by: {{order.user}}
            </li>
        {% endfor %}
    </ul>
</body>
</html>