<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/shopping_cart.css' %}">
    <title>Shopping Cart</title>
</head>
<body>
    <header>
        <div class="project-name">eMarket</div>
    </header>
    <main>
        <h1>Shopping Cart</h1>
        <ul>
            {% for item in cartProducts %}
                <li>
                    <div class="container">
                        <div class="cart-info">
                            <h2>{{ item.product.name }}</h2>
                            <form method="post" action="{% url 'update_cart_quantity' item.product.id %}">
                                {% csrf_token %}
                                <label for="quantity">Quantity:</label>
                                <input type="number" name="quantity" value="{{ item.quantity }}" min="0">
                                <button type="submit" class="button">Update</button>
                            </form>
                            <p>Total: ${{ item.get_total }}</p>
                        </div>
                    </div>
                </li>
            {% empty %}
                <li class="empty-cart">Your cart is empty.</li>
            {% endfor %}
        </ul>
        {% if cartProducts %}
            <footer>
                <p>Total: ${{ total }} </p>
                <a href="{% url 'checkout' %}" class="button">Proceed to Checkout</a>
            </footer>
        {% endif %}
        <footer>
            <a href="{% url 'product_list' %}" class="button">Continue shopping</a>
        </footer>
    </main>
</body>
</html>