<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/shopping_cart.css' %}">
    <title>Shopping Cart</title>
</head>
<body>
    <h1>Shopping Cart</h1>
    <ul>
        {% for item in cartProducts %}
            <li>{{ item.product.name }} - {{ item.quantity }} - ${{ item.get_total }}</li>
            <a href="{% url 'remove_from_cart' item.product_id %}">Remove one from cart</a>
        {% empty %}
            <li>Your cart is empty.</li>
        {% endfor %}
    </ul>
    <p>Total: ${{ total }} </p>
    <footer>
    <a href="{% url 'checkout' %}">Proceed to Checkout</a>
    <br>
    <a href="{% url 'product_list' %}">Or continue shopping</a>
    </footer>
</body>
</html>