body{
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
	background-color: #f4f4f4;
}
header {
    background: #4d0404;
    color: white;
    padding: 10px 20px;
    text-align: center;
}
.project-name {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center; /* Center the project name */
}
nav {
	text-align: center; /* Align navigation to the right */
	align-items: center;
}
nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
nav ul li{
	display: inline;
	margin-right: 15px;
	max-width: 20%;
}
nav a, nav button{
	color: black;
	text-decoration: none;
	background: none;
	border: none;
	cursor: pointer;
	font: inherit;
}
nav a:hover, nav button.hover{
	text-decoration: underline;
}
main{
	margin-top: 20px;
}
h1{
	color: #333;
}
main ul{
	list-style-type: none;
	padding: 0;
	margin: 0; 
	display: flex;
	flex-wrap: wrap;
}
li{
	background: white;
	margin: 10px;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	flex: 1 1 calc(33.333% - 20px); /* Adjust the percentage to control the number of items per row */
	box-sizing: border-box;
}
h2 {
      margin: 0;
      font-size: 1.5em;
}
p {
	margin: 5px 0;
}


.product-container {
  display: flex;
  align-items: flex-start;
}

.product-image {
  max-width: 150px;
  margin-right: 20px;
}

.product-info {
  flex: 1;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px 0;
  font-size: 1em;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.button:visited {
  color: white;
}
